// Heading Color
$heading-color: #231f1f;

// Text Color
$text-color: #656565;

// Default Background
$bg-default: #36C1C1 /*#e20378*/;

// Gray Background
$bg-gray: #f3f5f8;

// White Color
$white-color: #ffffff; 

// Dark Color
$dark-color: #000000;

// Border Color
$border-color: #dedede; 

// Hover Color
$hover-color: #36C1C1 /* #e20378*/;

// Footer Color
$footer-color: #02031c;

// Secondary Color
$secondary-color: #152535;