@import 'theme_color';
@import 'fonts';
@import 'mixin';
@import 'responsive';

/* [Master Stylesheet]
- Template Name: Viral Story - Viral News Magazine Template
- Template Author: Colorlib
- Template URL: http://colorlib.com
- Version: 1.0.0 */

/* ###### Index of Stylesheet ######
:: 1.0 Import Fonts
:: 2.0 Import All CSS
:: 3.0 Base CSS
:: 4.0 Header Area
:: 5.0 Hero Area
:: 6.0 Welcome Slides Area
:: 7.0 Blog Post Area
:: 8.0 Footer Area
:: 9.0 Contact Area */

/* :: 1.0 Import Fonts */
 
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');

/* :: 2.0 Import All CSS */

@import 'css/bootstrap.min.css';
@import 'css/owl.carousel.min.css';
@import 'css/animate.css';
@import 'css/magnific-popup.css';
@import 'css/font-awesome.min.css';
@import 'css/classy-nav.min.css';
@import 'css/nice-select.min.css';

/* :: 3.0 Base CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fonts;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $secondary-color;
    line-height: 1.3;
    font-weight: 700;

}

p {
    color: $text-color;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
}

a,
a:hover,
a:focus {
    @include trans-duration(500ms);
    text-decoration: none;
    outline: 0 solid transparent;
    color: $heading-color;
    font-weight: 500;
    font-size: 14px;
    color: $text-color;
}

ul,
ol {
    margin: 0;
    li {
        list-style: none;
    }
}

img {
    height: auto;
    max-width: 100%;
}

/* Spacing */

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

/* Height */

.height-400 {
    height: 400px !important;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}

/*Sticky header*/

.sticky-wrapper{
    height:auto !important;
}

.rootLogo{
    width:300px;
    transition: transform 1000ms ease-in-out;
}

/* Section Padding */

.section-padding-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-padding-50-0 {
    padding-top: 50px;
    padding-bottom: 0;
}

.section-padding-0-50 {
    padding-top: 0;
    padding-bottom: 50px;
}

.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Miscellaneous */

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-dark {
    background-color: #000000 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.bg-overlay {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover;
    &::after {
        background-color: rgba(2, 3, 28, 0.9);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
    }
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

/* ScrollUp */

#scrollUp {
    //background-color: $bg-default;
    background-color:#333;
    border-radius: 4px 4px 0 0;
    bottom: 0;
    color: #fff;

    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: $white-color;
    font-size: 24px;
    height: 35px;
    line-height: 38px;
    right: 60px;
    text-align: center;
    width: 40px;
    @include trans-duration(500ms);
    &:hover {
        background-color: $dark-color;
    }
    @media #{$breakpoint-xs} {
        bottom: 30px;
        right: 30px;
    }
}

/* Button */

.viral-btn {
    display: inline-block;
    min-width: 150px;
    height: 52px;
    color: $white-color;
    border: none;
    border-radius: 5px;
    padding: 0 30px;
    font-size: 14px;
    line-height: 52px;
    font-weight: 700;
    @include trans-duration(500ms);
    text-transform: uppercase;
    @include bg-gradients;
    &.active,
    &:hover,
    &:focus {
        font-size: 14px;
        font-weight: 700;
        color: $white-color;
        @include bg-gradients;
    }
}

.add-post-btn {
    display: inline-block;
    min-width: 150px;
    height: 52px;
    color: #fff !important;
    border: none;
    border-radius: 5px;
    padding: 0 30px;
    font-size: 14px !important;
    line-height: 52px;
    font-weight: 700 !important;
    @include trans-duration(500ms);
    text-transform: uppercase;
    @include bg-gradients;
    &.active,
    &:hover,
    &:focus {
        font-size: 14px;
        font-weight: 700;
        color: $white-color;
        @include bg-gradients;
    }
}

/* :: 4.0 Header Area */

.header-area {
    position: absolute;/*relative*/
    z-index: 100;
    width: 100%;
    .top-header-area {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 48px;
        border-bottom: 1px solid $border-color;
        .top-header-content {
            position: relative;
            z-index: 1;
            height: 48px;
            .top-breaking-news-area {
                position: relative;
                z-index: 1;
                @include flex(0 0 70%);
                min-width: 70%;
                width: 70%;
                .ticker {
                    width: 100%;
                    text-align: left;
                    position: relative;
                    overflow: hidden;
                    ul {
                        width: 100%;
                        position: relative;
                        z-index: 1;
                        li {
                            display: none;
                            width: 100%;
                            a {
                                display: block;
                                font-size: 12px;
                                color: $text-color;
                                height: 38px;
                                line-height: 38px;
                                &:hover,
                                &:focus {
                                    color: $hover-color;
                                }
                            }
                        }
                    }
                }
            }
            .top-social-info-area {
                position: relative;
                z-index: 1;
                a {
                    display: inline-block;
                    padding: 0 12px;
                    font-size: 14px;
                    color: #b0b0b0;
                    @media #{$breakpoint-xs} {
                        padding: 0 3px;
                    }
                    &:hover,
                    &:focus {
                        color: $hover-color;
                    }
                }
            }
        }
    }

    .viral-news-main-menu {
        position: relative;
        width: 100%;
        z-index: 0;
        height: 100px;         
        transition: transform 1000ms ease-in;
        @media #{$breakpoint-md} {
            height: 80px;
        }
        @media #{$breakpoint-xs} {
            height: 70px;
        }
        .classy-nav-container {
            background-color: transparent;
        }
        .classy-navbar {
             height: 100px;
            padding: 0;
            @media #{$breakpoint-md} {
                height: 80px;
            }
            @media #{$breakpoint-xs} {
                height: 70px;
            }
            .classynav ul li a {
                font-weight: 700;
                &:hover,
                &:focus {
                    color: $hover-color;
                    font-weight: 700;
                }
            }
            .classynav ul li.active a {
                color: $hover-color;
            }
            .classynav > ul > li > a {
                text-transform: uppercase;
                padding: 12px 12px 11px;
                background-color: transparent;
                line-height: 1;
                color: $heading-color;
                font-weight: 700;
                transition: transform 1000ms ease-in;
                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }
        .search-btn {
            padding: 15px 40px;
            display: block;
            cursor: pointer;
            @include trans-duration(500ms);
            &:hover,
            &:focus {
                color: $hover-color;
            }
            @media #{$breakpoint-lg} {
                padding: 15px 20px;
            }
        }
    }

    /* Search Form Area */
    .viral-search-form {
        position: fixed;
        width: 100%;
        height: 100%;
        @include bg-gradients;
        z-index: 30000;
        top: 150px;
        left: 0;
        @include trans-duration(800ms);
        @include transform(scale(0.9) translate3d(0, 0, 0));
        opacity: 0;
        visibility: hidden;
        @media #{$breakpoint-md} {
            top: 130px;
        }
        @media #{$breakpoint-xs} {
            top: 120px;
        }
        form {
            position: absolute;
            z-index: 1;
            width: 100%;
            top: 200px;
            opacity: 0;
            visibility: hidden;
            -webkit-transition-delay: 500ms;
            transition-delay: 500ms;
            @include trans-duration(700ms);
            input {
                width: 90%;
                height: 60px;
                position: absolute;
                left: 5%;
                font-size: 14px;
                color: $heading-color;
                font-weight: 600;
                padding: 0 30px;
                border: none;
                border-radius: 5px;
            }
            button {
                position: absolute;
                width: 60px;
                height: 60px;
                right: 5%;
                top: 0;
                border: none;
                cursor: pointer;
                @include trans-duration(500ms);
                border-radius: 0 5px 5px 0;
                &:hover {
                    background-color: $hover-color;
                    color: #fff;
                }
            }
        }
        &.active {
            opacity: 1;
            visibility: visible;
            @include transform(scale(1) translate3d(0, 0, 0));
            form {
                opacity: 1;
                visibility: visible;
                top: 50px;
            }
        }
    }
    .is-sticky #stickyMenu {
        background-color: #fff;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
        border-bottom: none;    
        // transform: scale(1,0.80);
        height: 70px;
        transition: transform 1000ms ease-in;
        .viral-search-form {
            top: 100px;
            @media #{$breakpoint-md} {
                top: 80px;
            }
            @media #{$breakpoint-xs} {
                top: 70px;
            }
        }
        .rootLogo{
            transform: scale(0.70);
            transition: transform 1000ms ease-in;
        }
        .classy-navbar{
            height: 70px;
            font-size: 12px;
            transition: transform 1000ms ease-in;
        }
        .add-post-btn{
            min-width: 130px;
            height: 42px;
            font-size: 12px !important;
            line-height: 41px;
            transition: transform 1000ms ease-in;
        }
    }
}

/*Banner Image styles starts*/
.bannerImage{
    width:100%;
    display: inline-block;
    height: 65vh; //100vh;
    overflow: hidden;
    img{
        width: 100%;
    }
    .bannerContent{
        font-size: 30px;    
        font-weight: 500;
        width: 550px;
        height: 90px;
        /* width: 700px;
        height: 300px; */
        word-wrap: break-word;
        color: #FFFFFF;
        background: #282626;  
        position: absolute;
        opacity: .75;
        /* top: 65%; */
        top: 50%;
        padding: 30px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 87px;
        /* width: 100%; */
        text-align: center;
        margin: auto;
    }
    .bannerSubText{
        font-size: 20px;
        font-weight: 200;
        text-align: center;
    }
}

/*Banner Image style ends*/

.add-post-button {
    @media #{$breakpoint-md} {
        margin-left: 15px;
    }
    @media #{$breakpoint-xs} {
        margin-left: 15px;
    }
}

.classy-navbar .nav-brand {
    @media #{$breakpoint-xs} {
        max-width: 200px; //80px
    }
}

/* :: 5.0 Hero Area */

.hero-area {
    position: relative;
    z-index: 1;
    background-color: $bg-gray;
    padding-top: 50px;
    border-bottom: 5px solid $hover-color;
}

/* :: 6.0 Welcome Slides Area */

.welcome-slide-area {
    padding: 60px 0 90px;
    position: relative;
    z-index: 1;
}

.single-welcome-slide {
    position: relative;
    z-index: 1;
    .welcome-post {
        position: relative;
        z-index: 1;
        overflow: hidden;
        img {
            @include trans-duration(600ms);
        }
        &:hover {
            img {
                @include transform(scale(1.1));
            }
        }
        .post-content {
            position: absolute;
            width: 80%;
            bottom: 10%;
            left: 10%;
            z-index: 5;
            .tag {
                background-color: $hover-color;
                width: 88px;
                height: 25px;
                color: #fff;
                display: block;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 25px;
                text-align: center;
                margin-bottom: 15px;
                &.tag-2 {
                    background-color: #6bc045;
                }
                &.tag-3 {
                    background-color: #ee9202;
                }
                &:hover {
                    background-color: $heading-color;
                }
            }
            .post-title {
                background-color: $heading-color;
                padding: 0 15px 5px;
                font-size: 30px;
                font-weight: 600;
                color: #fff;
                display: inline-block;
                @media #{$breakpoint-xs} {
                    font-size: 18px;
                }
                &:hover {
                    color: $hover-color;
                }
            }
            p {
                font-size: 12px;
                color: #fff;
                margin-bottom: 0;
                font-weight: 600;
            }
        }
        &.style-2 {
            .post-title {
                padding: 0 10px;
                font-size: 18px;
            }
        }
    }
}

.welcome-posts-- {
    @media #{$breakpoint-md} {
        @include display-flex(flex);
    }
}

/* :: 7.0 Blog Post Area */

.single-blog-post {
    position: relative;
    z-index: 1;
    .post-thumb {
        @include flex(0 0 130px);
        min-width: 130px;
        width: 130px;
        a {
            display: block;
        }
    }
    .post-data {
        margin-left: 20px;
        .post-catagory {
            font-size: 14px;
            color: $bg-default;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 10px;
            display: block;
        }
        .post-title {
            display: block;
            h6 {
                @include trans-duration(500ms);
                line-height: 1.8;
                font-size: 14px;
                color: $heading-color;
                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }
        .post-meta {
            .post-date {
                margin-bottom: 0;
                a {
                    display: block;
                    &:hover,
                    &:focus {
                        color: $hover-color;
                    }
                }
            }
            .post-like {
                @include display-flex(flex);
                @include align-items(flex-end);
                span {
                    line-height: 1;
                    margin-left: 15px;
                    &:hover,
                    &:focus {
                        color: $hover-color;
                    }
                }
            }
            .post-comment {
                margin-left: 20px;
                @include display-flex(flex);
                @include align-items(flex-end);
                span {
                    line-height: 1;
                    margin-left: 15px;
                    &:hover,
                    &:focus {
                        color: $hover-color;
                    }
                }
            }
        }
    }
    &.style-2 {
        margin-bottom: 4px;
        &:last-of-type {
            margin-bottom: 0;
        }
        .post-thumb {
            @include flex(0 0 90px);
            min-width: 90px;
            width: 90px;
        }
        .post-date {
            a {
                font-size: 12px;
            }
        }
    }
    &.style-3 {
        .post-thumb {
            @include flex(0 0 100%);
            min-width: 100%;
            width: 100%;
            margin-bottom: 50px;
        }
        .post-data {
            margin-left: 0;
            margin-bottom: 40px;
            .post-catagory {
                background-color: $hover-color;
                width: 88px;
                height: 25px;
                color: #fff;
                display: block;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 26px;
                text-align: center;
                margin-bottom: 15px;
                font-weight: 600;
                margin-bottom: 20px;
                &.cat-2 {
                    background-color: #6bc045;
                }
                &.cat-3 {
                    background-color: #ee9202;
                }
                &.cat-4 {
                    background-color: #02aeee;
                }
                &:hover {
                    background-color: $heading-color;
                }
            }
            .post-title {
                display: block;
                h6 {
                    @include trans-duration(500ms);
                    line-height: 1.5;
                    font-size: 24px;
                    color: $heading-color;
                    @media #{$breakpoint-xs} {
                        font-size: 20px;
                    }
                    &:hover,
                    &:focus {
                        color: $hover-color;
                    }
                }
            }
            .post-meta {
                .post-author {
                    font-size: 14px;
                    color: #656565;
                    font-weight: 700;
                    margin-bottom: 0;
                    a {
                        color: $heading-color;
                        font-weight: 700;
                        font-size: 14px;
                    }
                }
                .post-date {
                    color: #656565;
                    font-size: 12px;
                }
            }
        }
        &.style-5 {
            @media #{$breakpoint-xs} {
                @include flex-wrap(wrap);
            }
            .post-data {
                margin-bottom: 0;
                @media #{$breakpoint-xs} {
                    @include flex(0 0 100%);
                    min-width: 100%;
                    width: 100%;
                }
            }
            .post-thumb {
                @include flex(0 0 50%);
                min-width: 50%;
                width: 50%;
                margin-bottom: 0;
                margin-right: 15px;
                @media #{$breakpoint-xs} {
                    @include flex(0 0 100%);
                    min-width: 100%;
                    width: 100%;
                    margin-bottom: 50px;
                    margin-right: 0;
                }
            }
        }
    }
    &.style-4 {
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
        .post-thumb {
            position: relative;
            z-index: 10;
            @include flex(0 0 100%);
            min-width: 100%;
            width: 100%;
            margin-bottom: 15px;
            .serial-number {
                font-size: 14px;
                font-weight: 600;
                color: #fff;
                background-color: $hover-color;
                width: 42px;
                height: 42px;
                border-radius: 50%;
                display: block;
                text-align: center;
                line-height: 42px;
                position: absolute;
                left: 15px;
                top: -21px;
                z-index: 10;
            }
        }
        .post-data {
            margin-left: 0;
            margin-bottom: 0;
            .post-title {
                display: block;
                h6 {
                    @include trans-duration(500ms);
                    line-height: 1.5;
                    font-size: 18px;
                    color: $heading-color;
                    font-weight: 600;
                    &:hover,
                    &:focus {
                        color: $hover-color;
                    }
                }
            }
            .post-meta {
                .post-author {
                    font-size: 12px;
                    color: #656565;
                    font-weight: 700;
                    margin-bottom: 0;
                    a {
                        color: $heading-color;
                        font-weight: 700;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.moreStyleLatestNews{
    text-align: center;
    margin-top: -13px;
    background-color: #F8F9FA;
    box-shadow: 0 1px 0 0 rgba(182,196,210,0.4);
}
.moreStyleLatestNews > a{
    color:#00B67A;
    font-size:11px;
}
.moreStyleLatestNews > a:hover{
    color:#EC3A8B;
}

.popular-news-widget {
    position: relative;
    z-index: 1;
    background-color: #eff4f9;
    padding: 60px 25px;
    h3 {
        font-size: 30px;
        margin-bottom: 30px;
        font-weight: 400;
        color: $bg-default;
        @media #{$breakpoint-xs} {
            font-size: 24px;
        }
    }
    .single-popular-post {
        position: relative;
        z-index: 1;
        margin-bottom: 30px;
        h6 {
            @include trans-duration(500ms);
            @include display-flex(flex);
            line-height: 1.7;
            font-weight: 500;
            span {
                margin-right: 15px;
                color: $bg-default;
            }
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
        p {
            margin-bottom: 0;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: 700;
            color: #828282;
            margin-left: 30px;
            line-height: 1;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.latest-comments-widget {
    position: relative;
    z-index: 1;
    h4 {
        margin-bottom: 50px;
        font-weight: 600;
    }
    .single-comments {
        position: relative;
        z-index: 1;
        margin-bottom: 40px;
        .comments-thumbnail {
            @include flex(0 0 42px);
            max-width: 42px;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            margin-top: 6px;
            img {
                border-radius: 50%;
                display: block;
            }
        }
        .comments-text {
            margin-left: 15px;
            a {
                display: block;
                font-size: 16px;
                color: $heading-color;
                margin-bottom: 10px;
                line-height: 1.9;
                font-weight: 600;
                span {
                    color: $hover-color;
                }
                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
            p {
                margin-bottom: 0;
                font-size: 11px;
                text-transform: uppercase;
                color: #828282;
                line-height: 1;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.newsletter-widget {
    position: relative;
    z-index: 1;
    @include bg-gradients;
    padding: 0 25px 35px;
    h4 {
        text-align: center;
        color: #fff;
        font-weight: 600;
        padding: 70px 0;
        margin-bottom: 0;
    }
    form {
        input {
            width: 100%;
            height: 52px;
            background-color: #fff;
            font-size: 11px;
            font-style: italic;
            color: $text-color;
            margin-bottom: 20px;
            border: none;
            padding: 0 25px;
            border-radius: 5px;
            font-weight: 600;
        }
        button {
            width: 100%;
            height: 52px;
            background-color: #6bc045;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            border: none;
            padding: 0 25px;
            border-radius: 5px;
            &:hover,
            &:focus {
                @include trans-duration(500ms);
                background-color: #fff;
                color: $hover-color;
            }
        }
    }
}

.viral-news-pagination {
    position: relative;
    z-index: 1;
    margin: 50px 0 40px;
    .page-link {
        padding: 0 5px;
        font-size: 14px;
        border: none;
        color: #656565;
        background-color: transparent;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        @media #{$breakpoint-xs} {
            font-size: 12px;
        }
        &:hover,
        &:focus {
            color: #ee9202;
        }
    }
    .page-item {
        &:first-child {
            .page-link {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                margin-right: 30px;
                color: $hover-color;
                @media #{$breakpoint-xs} {
                    margin-right: 5px;
                }
                &:hover,
                &:focus {
                    color: #ee9202;
                }
            }
        }
        &:last-child {
            .page-link {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                margin-left: 30px;
                color: $hover-color;
                @media #{$breakpoint-xs} {
                    margin-left: 5px;
                }
                &:hover,
                &:focus {
                    color: #ee9202;
                }
            }
        }
    }
}

.viral-news-breadcumb-area {
    position: relative;
    z-index: 1;
    background-color: $bg-gray;
    height: 230px;
    border-bottom: 5px solid $hover-color;
    &.section-padding-50 {
        @media #{$breakpoint-xs} {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    h3 {
        font-size: 30px;
        color: $hover-color;
    }
    .breadcrumb {
        padding: 0;
        margin-bottom: 0;
        background-color: transparent;
        @media #{$breakpoint-xs} {
            margin-bottom: 30px;
        }
    }
}

.treading-articles-widget {
    position: relative;
    z-index: 1;
    h4 {
        margin-bottom: 50px;
        font-weight: 600;
    }
}

.catagory-featured-post {
    position: relative;
    z-index: 1;
    .cata-content {
        @media #{$breakpoint-xs} {
            margin-top: 50px;
        }
        .post-catagory {
            background-color: $hover-color;
            width: 88px;
            height: 25px;
            color: #fff;
            display: block;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 25px;
            text-align: center;
            margin-bottom: 15px;
            &.tag-2 {
                background-color: #6bc045;
            }
            &.tag-3 {
                background-color: #ee9202;
            }
            &:hover {
                background-color: $heading-color;
            }
        }
        h2 {
            font-size: 36px;
            font-weight: 600;
            @include trans-duration(500ms);
            @media #{$breakpoint-md} {
                font-size: 24px;
            }
            @media #{$breakpoint-xs} {
                font-size: 22px;
            }
            &:hover {
                color: $hover-color;
            }
        }
        .post-meta {
            .post-author {
                font-size: 14px;
                color: #656565;
                font-weight: 700;
                margin-bottom: 0;
                a {
                    color: $heading-color;
                    font-weight: 700;
                    font-size: 14px;
                }
            }
            .post-date {
                color: #656565;
                font-size: 12px;
            }
        }
        .post-excerp {
            color: #656565;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

/* Trustpiolet Start */
.trustPioletStyle{
    background-color: #E3E7EA;
    height: auto;
    width: fit-content;
    transition: transform .2s;
    transition: transform .2s;
}

.trustPioletStyle:hover {
    transform: scale(0.98); 
}

@media (max-width: 768px) {
    .trustPioletStyle{
        margin-bottom: 20px;
    }
}


.trustPioletImageStyle{
    height: 319px;
    //height: auto;
    //padding-left: 20px;
}

.textblockTrustPiolet{
    position: absolute;
    bottom: 0px;
    left: 16px;
    background-color: #A9A9A9;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 1;
    width: 92%;
    text-align: center;
    height: 62px;
    font-size: 18px;
    padding-top: 5px;
}

.billGatesStyle{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    //height: 432px;
}
@media (max-width: 768px) {
    .billGatesStyle{
        margin-bottom: 20px;
    }
}

.billGatesTopStyle{
    border: 1px solid grey;
    margin-left: -14px !important;
    margin-top: -9px !important;
    color: white !important;
    background-color: #41CBCB;
    height: 35%;
    padding-top: 10px;
}

.billGatesTopTextStyle{
    color: white !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 0px !important;
    text-align: center;
}


.billGatesFooterStyle{
    border: 1px solid grey;
    background-color: #A9A9A9; 
    margin-left: -14px !important;
    margin-top: -1px !important;
    color: black !important;
    padding-left: 16px;
    padding-right: 10px;
}

.billGatesFooterTextStyle{
    padding-left: 10px !important;
    padding-top: 1px !important;
    font-size: 10px;
}

.billGateFooterRefStyle{
    color: #00B67A;
}

.billGateFooterRefStyle:hover{
    color:#EC3A8B;
}

/*trust piolet end */


/* Team Directory Styles */

.staffDirStyle{
    background-color: #E3E7EA;
    height: auto;
    width: fit-content;
    transition: transform .2s;
}

.staffDirStyle:hover {
    transform: scale(0.98); 
}



@media (max-width: 768px) {
    .staffDirStyle{
        margin-bottom: 20px;
    }
}


//.teamDirHeadingStyle{
    /* background-color: #E3E7EA; */
    /* height: auto; */
//}

.staffDirectoryImageStyle{
    //height: auto;
    height: 319px;
}


/* End of Team Directory Style */

.single-blog-post-details {
    position: relative;
    z-index: 1;
    .post-thumb {
        position: relative;
        z-index: 1;
        margin-bottom: 50px;
    }
    .post-data {
        .post-meta {
            p {
                font-weight: 500;
            }
        }
        .post-catagory {
            background-color: $hover-color;
            width: 88px;
            height: 25px;
            color: #fff;
            display: block;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 25px;
            text-align: center;
            margin-bottom: 15px;
            &.tag-2 {
                background-color: #6bc045;
            }
            &.tag-3 {
                background-color: #ee9202;
            }
            &:hover {
                background-color: $heading-color;
            }
        }
        .post-title {
            font-size: 36px;
            line-height: 1.5;
            margin-bottom: 30px;
            @media #{$breakpoint-md} {
                font-size: 24px;
            }
            @media #{$breakpoint-xs} {
                font-size: 24px;
            }
        }
        .post-author {
            margin-bottom: 0;
            display: block;
            font-size: 14px;
            color: #656565;
            font-weight: 700;
            a {
                font-size: 14px;
                color: #231f1f;
                font-weight: 700;
            }
        }
        .post-date {
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 0;
            color: #656565;
            display: block;
            margin-bottom: 0;
        }
        .view-comments {
            .views {
                font-size: 12px;
                color: #656565;
                margin-bottom: 0;
            }
            .comments {
                font-size: 12px;
                color: #656565;
                display: block;
                text-decoration: underline;
                &:hover {
                    color: $hover-color;
                }
            }
        }
    }
}

.login-with-facebook {
    a {
        display: inline-block;
        padding: 0 90px;
        height: 45px;
        background-color: #2d5f9a;
        border-radius: 6px;
        line-height: 45px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        @media #{$breakpoint-xs} {
            padding: 0 15px;
            font-size: 12px;
        }
        &:hover,
        &:focus {
            background-color: $hover-color;
        }
    }
}

.single-questions-area {
    position: relative;
    z-index: 1;
    h3 {
        @media #{$breakpoint-xs} {
            font-size: 24px;
        }
    }
    .questions-thumb {
        margin-bottom: 25px;
    }
    input[type=radio] {
        display: none;
    }
    input[type="radio"] + label {
        padding-left: 60px;
        user-select: none;
        -webkit-user-select: none;
        cursor: pointer;
        position: relative;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0;
        width: 100%;
        height: 55px;
        background-color: $bg-gray;
        margin-bottom: 25px;
        border-radius: 3px;
        line-height: 55px;
        @include trans-duration(100ms);
    }
    input[type=radio] + label:before {
        content: '';
        position: absolute;
        left: 25px;
        top: 50%;
        width: 23px;
        height: 23px;
        border: 2px solid #ccd2dc;
        border-radius: 50%;
        box-sizing: border-box;
        background-color: #fff;
        @include trans-duration(100ms);
        @include transform(translateY(-50%));
    }
    input[type=radio]:checked + label:before {
        content: '';
        background-color: $hover-color;
        border: 9px solid #fff;
    }
    input[type=radio]:checked + label {
        @include bg-gradients;
        color: #fff;
    }
}

.comment_area {
    .title {
        color: $heading-color;
    }
    .comment-content {
        .comment-author {
            @include flex(0 0 72px);
            min-width: 72px;
            margin-right: 30px;
            height: 72px;
            border-radius: 5px;
            img {
                border-radius: 5px;
            }
        }
        .comment-meta {
            margin-bottom: 30px;
            .post-author {
                margin-bottom: 5px;
                display: block;
                font-size: 16px;
                color: #393939;
                font-weight: 600;
            }
            .post-date {
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: 0;
                color: #656565;
                display: block;
                margin-bottom: 15px;
            }
            p {
                margin-bottom: 15px;
                font-size: 14px;
                line-height: 2;
                font-weight: 500;
            }
        }
    }
    .single_comment_area {
        margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .children {
        .single_comment_area {
            margin-left: 50px;
            margin-top: 30px;
        }
    }
}

.post-a-comment-area {
    position: relative;
    z-index: 1;
    @media #{$breakpoint-md} {
        margin-bottom: 100px;
    }
    @media #{$breakpoint-xs} {
        margin-bottom: 100px;
    }
    h4 {
        font-size: 24px;
        color: #393939;
    }
}

.editors-pick-post-area {
    position: relative;
    z-index: 1;
    background-color: #eff4f9;
}

/* :: 8.0 Footer Area */

.footer-area {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: $bg-gray;
    border-top: 5px solid $hover-color;
    padding-top: 50px;
    .footer-widget-area {
        position: relative;
        z-index: 1;
        @media #{$breakpoint-xs} {
            margin-bottom: 40px;
        }
        .footer-logo {
            margin-bottom: 50px;
        }
        .widget-title {
            display: block;
            margin: 40px 0;
            font-weight: 600;
        }
        .footer-nav {
            ul {
                @include display-flex(flex);
                @include flex-wrap(wrap);
                li {
                    @include flex(0 0 50%);
                    min-width: 50%;
                    width: 50%;
                    a {
                        display: block;
                        padding: 15px 0;
                        font-size: 14px;
                        font-weight: 700;
                        color: $heading-color;
                        &:hover,
                        &:focus {
                            color: $hover-color;
                        }
                    }
                }
            }
        }
    }
    .bottom-footer-area {
        position: relative;
        z-index: 1;
        width: 100%;
        text-align: center;
        padding: 65px 0 30px;
        @media #{$breakpoint-xs} {
            padding: 20px 0 30px;
        }
        p {
            color: $heading-color;
            margin-bottom: 0;
            font-size: 11px;
            font-weight: 600;
            a {
                color: $heading-color;
                font-size: 11px;
                font-weight: 600;
                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }
    }
}

/* :: 9.0 Contact Area */

.single-contact-information {
    position: relative;
    z-index: 1;
    h6 {
        font-size: 14px;
        border-bottom: 2px solid $bg-default;
        display: inline-block;
        color: $bg-default;
    }
}

.contact-form-area {
    .form-control {
        height: 52px;
        width: 100%;
        background-color: $bg-gray;
        font-size: 12px;
        font-style: italic;
        margin-bottom: 15px;
        border: none;
        border-radius: 0;
        padding: 0 20px;
        @include trans-duration(500ms);
        border-bottom: 3px solid;
        border-color: transparent;
        font-weight: 500;
        &:focus {
            box-shadow: none;
            border-color: $hover-color;
        }
    }
    textarea.form-control {
        height: 200px;
        padding: 15px 20px;
        @include trans-duration(500ms);
    }
}

.contact-area {
    position: relative;
    z-index: 1;
    .contact-title h4 {
        color: #393939;
        margin-bottom: 70px;
    }
}
.contact-info-details {
    @media #{$breakpoint-xs} {
        @include flex-wrap(wrap);
    }
}

.single-contact {
    position: relative;
    z-index: 1;
    margin-right: 50px;
    @media #{$breakpoint-xs} {
        margin-right: 0;
        @include flex(0 0 100%);
        max-width: 100%;
        width: 100%;
        margin-bottom: 70px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.google-maps iframe {
    width: 100%;
    height: 680px;
    margin-bottom: 100px;
    border: none;
    @media #{$breakpoint-xs} {
        height: 500px;
    }
}





.contanierHeader{
    margin-left: 20px;
    margin-right: 20px;
}

.newsContainer {
    margin: 20px;
    margin-bottom: 25px;
    margin-right: 30px;
}

.subSiteLinks {
    margin: 20px;
    margin-top: -12px;
    margin-right: 30px;
    margin-bottom: 25px;
    margin-left: 26px;
}

.linksContainer{
    margin:20px;
}

.issueTextContainer{ 
    margin:20px
}
.welcomeTextContent{
    width:100%;
    padding: 50px;
    background-color: #E3E7EA;
    height:331px;
}
.timeOffStyle{
    position: relative;
    transition: transform .2s;
}

.timeOffStyle:hover {
    transform: scale(0.98); 
}


.timeOffImageStyle{
    width: 100%;
    height: auto;
}

.textblock1ManagersSite{
    width: 200px;
    height: 33px;
    position: absolute;
    bottom: 7px;
    right: 70px;
    background: rgba(0, 0, 0, 0.2);
    color: #41CBCB;
    padding-left: 10px;
    padding-top: 7px;
}

.textblockManagersSite{
    width: 200px;
    height: 33px;
    position: absolute;
    bottom: 7px;
    right: 70px;
    background: rgba(0, 0, 0, 0.2);
    color: #41CBCB;
    padding-left: 10px;
    padding-top: 7px;
}


.handovers{
    position: absolute;
    top: 7%;
    font-size: 33px;
    font-weight: 700;
    left: 25%;
    background-color: transparent;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.textblock {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #425769;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 1;
    width: 100%;
    text-align: center;
    height: 55px;
    font-size: 18px;
    padding-top: 5px;
}

@media (max-width: 768px) {
    .mobPaddingTopStyle{
        margin-top: 20px;
    }
}

.cms-boxes{
    margin-left: -10px;
}

.floatStyleMgmt{
    float:right;
}


#topFooter{
    overflow: hidden;
    position: relative;
    border-top: 12px solid #e9eaee;
    background: #363839;
    backface-visibility: hidden;
}

#topFooter p{
    color: #8c8989;
    font-size: 15px;
    line-height: 1.33;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
}


.paddingTopFooter{
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer-copyright-area {
    background-color: #282A2B;
    border-color: #4b4c4d;
    border-top-width: 1px;
    padding-top: 18px;
    padding-bottom: 16px;
}

.footerFullWidthStyle{
    margin-right: 0;
    margin-left: 0;
}

#footer{
	position: absolute;
    width: 100%;
    border-top: 1px solid #4b4c4d;
}

.copyright-content {
    display: table;
    width: 100%;
}

.copyright-notice {
    color: #8c8989;
    font-size: 12px;
}
.copyright-notice {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    color: #8c8989;
    font-size: 12px;
}

.social-links-footer {
    display: table-cell;
    vertical-align: middle;
    width: 40%;
    text-align: right;
}

.social-links-footer .social-networks {
    margin-top: 10px;
}
.social-networks {
    overflow: hidden;
}

.leftPadFooterStyle{
    padding-left: 135px;
}

.leftPadFooterStyle a{
    color:#bfbfbf;
    font-size: 11px;
}

.leftPadFooterStyle a:hover {
    color: whitesmoke;
}

.essentialReadingHeadStyle{
    border: 1px solid grey;
    margin-left: -14px !important;
    margin-top: -9px !important;
    color: white !important;
    background-color: #EC3A8B;
    height: 25%;
    padding-top: 10px;
}

.essentHeadTextStyle{
    color: white !important;
    padding-left: 20px !important;
    padding-top: 8px !important;
}

.essentialReadingFooterStyle{
    border: 1px solid grey;
    background-color: #E3E7EA; 
    margin-left: -14px !important;
    margin-top: -1px !important;
    color: black !important;
}

.essentFooterTextStyle{
    padding-left: 20px !important;
    padding-top: 8px !important;
}

.essentialReadingBodyStyle{
    border: 1px solid grey;
    margin-left: -14px !important;
    margin-top: -1px !important;
    background-color: white;
    height: 51%; 
}

.essentBodyImageStyle{
    height: 160px;
    margin-top: -1px;
    margin-left: 15px;
}

.issueTextBox{
    padding-left: 8px;
    padding-top: 10px;
    //background-color: #E3E7EA;
    height: 323px;
}

@media(max-width:768px){
    .issueTextBox{
        margin-left: 6px;
    }
}

.adjustBoxOfLinks8{
    padding-right: 0px;
    margin-right: -18px;
    }
.adjustBoxOfLinks12{
padding-left: 0px;
}

.goToSitesStyle{
    margin: 20px;
}

.paraStyle{
    color: white;
    padding-left: 20px;
    margin-top: -5px;
    font-size: 15px;
}

.goToManagSite1Style{
    text-align: right;
    float: right;
    display: block;
    padding-right: 7px;
    width: 605px;
    //transition: transform .2s;
}

//.goToManagSite1Style:hover {
    //transform: scale(0.98); 
//}
.overlays {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #BFBFBF;
    overflow: hidden;
    width: 99%;
    height: 0;
    transition: .5s ease;
}

.trustChange{
    background-color:white;
    width:100%;
}

.goToManagSite1Style:hover .overlays {
    height: 20%;
}

.trustPioletStyle:hover .overlays{
    height: 25%;
}

@media(max-width:768px){
    .overlays{
        width:98%;
    }

    .trustChange{
        width:100%;
    }

    .goToManagSite1Style:hover .overlays {
        height: 30%;
    }
    
    .trustPioletStyle:hover .overlays{
        height: 30%;
    }
}

.overlays .firstLine{
    color: #636363;
    text-align: left;
    padding-left: 30px;
    padding-top: 25px;
    font-size: 19px;
    line-height: 0.4;
}
.overlays .secondLine{
    color: #F9F9F9;
    text-align: right;
    padding-right: 30px;
    padding-top: 20px;
    font-size: 19px;
    line-height: 0.4;
}

.overlays .trustPioletOverlayLine{
    color: black;
    font-size: 16px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    line-height: 1.6;
}


.newStyle1{
    padding-top: 4px;
    margin-left: 7px;
    width: 5%;
    margin-top: -10px;
}

@media(max-width:768px){
    .goToManagSiteStyle{
        margin-left: 15px;
        margin-top: 20px;
    }
    .goToManagSite1Style{
        text-align: left;
        float: left;
        width: 406px;
    }
}
.goToManagSite2Style{
    text-align: left;
    float: left;
    display: block;
    transition: transform .2s;
}

.goToManagSite2Style:hover {
    transform: scale(0.98); 
}


@media(max-width:768px){
    .goToManagSite2Style{
        width: 400px;
    }
}

.goToManagSiteImage2Style{
    height: auto;
    width: 100%;
}

.goToAccountsSiteStyle{
    background-color: #636363;
    margin-top: 20px;
    padding-top: 15px;
    padding-left: 50px;
    height: 95px;
    width: 63.7%;
    transition: transform .2s;
}

.goToAccountsSiteStyle:hover {
    transform: scale(0.98); 
}

@media(max-width:768px){
    .goToAccountsSiteStyle{
        width: 400px;
        padding-left: 25px;
    }
}

@media(max-width:768px) and (min-width:1366px){
    .goToAccountsSiteStyle{
        width: 63.7%;
    }
}

.gotoAccountsTextStyle{
    color: white;
    display: inline-block;
}

.rightArrowDivStyle{
    color:white;
}

.rightArrowStyle{
    width: 10%;
    margin-left: 20px;
    margin-top: -10px; 
}
.newStyle{
    padding-top: 10px;
    margin-left: 8px;
}


section.cms-boxes .cms-boxes-outer {
    text-align: left;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  section.cms-boxes .cms-boxes-outer .cms-boxes-items {
    height: 150px;
    display: table;
    width: 100%;
  }
  section.cms-boxes .cms-boxes-outer .cms-boxes-items p {
    color: #fff;
  }
  section.cms-boxes .cms-features {
    background-color: grey;
    opacity:0.8;
    // background-color: #b70457;
  }
  section.cms-boxes .boxes-align {
    display: table-cell;
    vertical-align: middle;
  }
  section.cms-boxes .small-box, 
  section.cms-boxes .large-box {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
  }
  section.cms-boxes .cms-boxes-items h2 {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin: 20px 0 10px;
    text-transform: uppercase;
  }
  section.cms-boxes .cms-security {
   // background-color: #0489b7;
   background-color: gray;
   opacity: 0.8;
  }

  section.cms-boxes .cms-documentation {
    background-color: #D9522C;
  }
  section.cms-boxes .cms-scalability {
    background: url(https://www.solodev.com/assets/tiles/scalability.jpg) 0 0 no-repeat;
    background-size: cover;
    background-color: gray;
    opacity:0.8;
    //background-color: #38A94B;
  }
  section.cms-boxes .cms-built {
    background: url(https://www.solodev.com/assets/tiles/customer-service.jpg) 0 0 no-repeat;
    background-size: cover;
    background-color: gray;
    opacity:0.8;
    //background-color: #5E98F1;
  }
  section.cms-boxes .cms-boxes-items:hover {
    opacity: 1;
    cursor: pointer;
}

.cms-boxes-items:hover h2 {
    color:black !important;
}

.add-post-button a{
    opacity:0.7 !important;
    color:#fff !important;
}

.add-post-button:hover a{
    opacity:1 !important;
    color:black !important;
}
