

.improvementsTop{
    width: 100%;
    display: inline-block;
    height: 15vh;
    overflow: hidden; 
}

.improBannerStyle{
    background-color: rgb(127, 127, 127);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px; 
    font-weight: 900;
    padding-top: 15px;
    padding-bottom: 15px;
}

.margRowStyle{
    margin-top: 40px;
    margin-bottom: 15px;
}

.padRightImproveStyle{
    padding-right: 70px;
}

.padLeftImproveStyle{
    padding-left: 80px;
    padding-right: 46px;
}


.improveTextStyle{
    font-size: 20px;
    padding-bottom: 30px;
}

.thumbnailSectionStyle{
    background-color: rgb(255, 255, 0);
    margin-bottom: 10px;
}

.emailSectionStyle{
    background-color: rgb(217, 217, 217);
}

.thumbnailImageofFile{
    height: 150px;
    width: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 60px;
}

.thumbnailOfFileTextStyle{
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-right: 59px;
    font-size: 20px;
    font-weight: 600;
}

.alanaImageStyle{
    height: 150px;
    width: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.alanaTextStyle{
    color: rgb(0, 0, 0);
    padding-top: 30px;
    padding-right: 50px;
    font-size: 16px;
}

.alanaDetails{
    padding-left: 20px;
}

.alanaButtonDivStyle{
    text-align: center;
    margin-top: -10px;
}

.btn-group .button {
    background-color: rgb(254, 102, 203);
    border: none;
    color: white;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 1; 
    cursor: pointer;
}

.btn-group .button:hover {
    opacity: 0.7;
    color: rgb(0, 0, 0);
}

.smallLine{
    border-bottom: 2px dotted rgb(95, 88, 88);
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 75px;
}

@media (max-width:768px){
    .smallLine{
        margin-left: 0px;
        margin-right: 0px;
    }
}


.archiveLeftStyle{
    margin-left: 64px;
}
@media (max-width:768px){
    .archiveLeftStyle{
        margin-left: 0px;
    }
}

.archiveHeadStyle{
    font-size: 30px;
    font-weight: 600;
}

.margRowStyleArchive{
    margin-top: 20px;
    margin-bottom: 15px;
}

.archiveBodyStyle{
    margin-left: 15px;
    background-color: rgb(217, 217, 217);
    padding-top: 20px;
    padding-bottom: 20px;
}

.fileThumbnailImageofFile{
    height: 80px;
    width: auto;
}

.archiveDateDiv{
    background-color: rgb(238, 238, 238);
    margin-left: -30px;
}
@media (max-width:768px){
    .archiveDateDiv{
        margin-left: 0px;
    }
}


.archiveDateDivPadding{
    padding-top: 30px;
}

.archiveLinkColor{
    color: rgb(74, 205, 205);
}