

.proChTop{
    display: inline-block;
    height: 3vh;
    overflow: hidden; 
}

.proChBannerStyle{
    background-color: rgb(51,204, 204);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    padding-top: 40px;
    padding-bottom: 40px;
}

.margRowProChStyle{
    margin-top: 40px;
    margin-bottom: 15px;
}

.padRightProChStyle{
    padding-right: 70px;
}

.padLeftProChStyle{
    padding-left: 80px;
    padding-right: 46px;
    padding-top: 40px;
}


.proChTextStyle{
    font-size: 20px;
    padding-bottom: 30px;
}


.proChSectionStyle{
    background-color: rgb(217, 217, 217);
}

.proChLine1{
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.proChLine2{
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.proChLine3{
    text-align: center;
    padding-top: 5px;
}

.proChLine3Img{
    width: auto;
    height: 80px;
}

.proChLine4{
    text-align: center;
    padding-top: 5px;
}
.proChLine4Text{
    text-align: center;
    font-size: 20px;
    background-color: rgb(242, 242, 242);
    color: rgb(0, 0, 0);
    width: 160px;
    height: 140px;
    line-height: 230px;
    display: inline-block;
}


.proChLine5{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.proChButton{
    width: 230px;
    background-color: rgb(254, 102, 203);
    border: none;
    color: white;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 1;
    cursor: pointer;
}

.proChButton:hover{
    opacity: 0.7;
    color: rgb(0, 0, 0);
}

.modal-content{
    border-radius: 0;
    background-color: aliceblue;
}

.modalTextStyle{
    font-size: 20px;
    color: darkgreen;
}

