
.trustPioletMarginTop {
    width: 100%;
    display: inline-block;
    height: 15vh;
    overflow: hidden; 
}

.trsuBlackDivStyle{
    background-color: #E8E8E8;
    text-align: center;
}

.trustBlackImgStyle{
    height: auto;
    padding-top: 15px;
    padding-bottom: 20px;
    width: 30%;
}

.margRowStyle{
    margin-top: 15px;
    margin-bottom: 15px;
}
.padRightTrustStyle{
    padding-right: 0px;
}

.padLeftTrustStyle{
    padding-left: 0px;
}

.trstBoxImgStyle{
    height: auto;
    width: 70%;
}


@media(max-width:768px){
    .padRightTrustStyle{
        margin-top: 0px;
        margin-left: -15px;
        margin-bottom: 30px;
    }
    .padLeftTrustStyle{
        padding-left:0;
    }    
    
    .trstBoxImgStyle{
        height: auto;
        width: auto;
    }

    .margRowStyle{
        margin-top: 10px;
        margin-bottom: 0px;
    }
  
}

@media (min-width:769px) and (max-width:991px){
    .padRightTrustStyle{
        margin-top: 50px;
        margin-left: -15px;
        margin-bottom: 30px;
    }
    .padLeftTrustStyle{
        padding-left:100px;
        margin-top: 50px;
    }    
    
    .trstBoxImgStyle{
        height: auto;
        width: auto;
    }

    .margRowStyle{
        margin-top: 0px;
        margin-bottom: 0px;
    }
  
}


.leaderBoardHead{
    background-color: #41CBCB;
    padding-top: 10px;
    text-align: center;
    color: black;
}

.leaderboard{
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.leaderboardLeftTop{
    background-color: #D9D9D9;
}

.leaderBoardHeaderText{
    font-size: 19px;
    font-weight: 700;
} 

.leaderboardRightTop{
    background-color: inherit;
}

.leaderBoardImage{
    height: auto;
    width: 7%;
}

/* Div as table 2 dimensional - Start */
.rTable {
    display: block;
    width: 100%;
}
.rTableHeading, .rTableBody, .rTableFoot, .rTableRow{
    clear: both;
}
.rTableHead, .rTableFoot{
    font-weight: bold;
}
.rTableCell, .rTableHead {
    /* border: 1px solid #999999; */
    float: left;
    /* height: 22px; */
    /* overflow: hidden; */
    /* padding: 3px 1.8%; */
    width: 50%;
}
.rTable:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* 2 d div as table end */
 