
.leaseInfoMarginTop {
    width: 100%;
    display: inline-block;
    height: 15vh;
    overflow: hidden; 
}

.leasebanner{
    background-color: rgb(102, 255, 153);
    color: rgb(0, 0, 0);
    text-align: right;
    font-size: 35px;
    font-weight: 700;
}

.leaseBannerText{
    height: 150px;
    line-height: 230px;
    display: inline-block;
}

.leaseimgHeight{
    padding-left: 50px;
    height: 55px;
    padding-right: 50px;
}

@media (max-width:481px){
    .leasebanner{
        text-align: center;
    }
    .leaseBannerText{
        line-height: 65px;  
    }
}

@media (min-width:482px) and (max-width:768px){
    .leasebanner{
        text-align: right;
    }
    .leaseBannerText{
        line-height: 215px;  
    }
}

.margRowStyle{
    margin-top: 40px;
    margin-bottom: 15px;
}

.padRightImproveStyle{
    padding-right: 70px;
}

.padLeftImproveStyle{
    padding-left: 80px;
    padding-right: 46px;
}


.improveTextStyle{
    font-size: 20px;
    padding-bottom: 30px;
}

.thumbnailSectionStyle{
    background-color: rgb(217, 217, 217);
    margin-bottom: 10px;
}


.archiveBodyStyle{
    margin-left: 0;
    background-color: rgb(217, 217, 217);
    padding-top: 20px;
    padding-bottom: 20px;
}


.archiveBodyStyle{
    background-color: rgb(217, 217, 217);
    padding-top: 20px;
    padding-bottom: 20px;
}

.fileThumbnailImageofFile{
    height: 80px;
    width: auto;
}

.archiveDateDiv{
    background-color: rgb(238, 238, 238);
    margin-left: -30px;
}
@media (max-width:768px){
    .archiveDateDiv{
        margin-left: 0px;
    }
}

.archiveDateDivPadding{
    padding-top: 30px;
}

.archiveLinkColor{
    color: rgb(74, 205, 205);
}

.smallLine{
    border-bottom: 2px dotted rgb(95, 88, 88);
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: -14px;
    margin-right: -14px;
}

.leaseHausImageDiv{
    background-color: white;
}
.leaseHausImage{
    width: 378px;
}

.newsStoryPad{
    padding-top: 19px;
}

.newsStoryPad1{
    margin-left: -35px;
}

@media (max-width: 991px){
    .newsStoryPad1{
        margin-left: -15px;
    }
}

.newsStory{
    background-color: rgb(100, 100, 100);
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 0px;
}

.newsStoryText{
    padding-top: 11px;
    padding-bottom: 9px;
    color: white;
    font-size: 18px;
}

.newsStoryImg{
    width: 180px;
}